
@import '../../../scss/settings/colors';
@import '../../../scss/settings/fonts';
@import '../../../scss/settings/otherVariables';
.introHeader{
    margin-top: 134px;
    margin-right: 279px;
    width: 663px;
    height: 455px;
    z-index: 100;
    position: absolute;
    .textIntro{
        margin-top: 20px;
        font-family: $font-base;
        font-weight: 300;
        font-size: 40px;
        color: $black-color;
    }
}