@import '../../atoms/headerStepsImg/headerStepsImg';
@import '../../molecules/headerStepsContext/headerStepsContext';

.headerStepsView{
    display: flex;
    flex-direction: row;
    align-items: stretch;
}