@import '../../atoms/whoWeHelpButton/whoWeHelpButton';

.whoWeHelpButtonsList{
    display: flex;
    flex-direction: row;
    width: 750px;
    justify-content: center;
    align-self: center;
    margin-top: 50px;
}