@import '../../../scss/settings/fonts';
@import '../../../scss/settings/colors';
@import '../../../scss/settings/otherVariables';

.conterColumn{
    font-size: 90px;
    font-family: $font-base;
    color: $mustard-color;
    font-weight: 300;
}