@import '../../atoms/whoWeHelpListItem/whoWeHelpListItem';

.divPag{
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 50%;
    border: ;
}