@import '../../atoms/whoWeHelpListItem/whoWeHelpListItem';
@import '../../../scss/settings/fonts';
@import '../../../scss/settings/colors';
@import '../../../scss/settings/otherVariables';
.divPag{
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 50%;
    border: $blind;
}