@import '../../../scss/settings/colors';
@import '../../../scss/settings/fonts';
@import '../../../scss/settings/otherVariables';

.footer {
    align-self: center;
    margin-bottom: 22px;
    display: flex;
    flex-direction: row;

    .textFooter {
        font-family: $font-base;
        font-size: 18px;
        color: $black-color;

    }

    .mediaFooter {
        align-self: flex-end;
        display: flex;
        flex-direction: row;
        align-content: center;

        .media-button {
            width: 30px;
            height: 30px;
        }

        .facebook {
            background: url('../../../assets/Facebook.svg');
            background-size: cover;
            background-repeat: no-repeat;
        }

        .instagram {
            background: url('../../../assets/Instagram.svg');
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}