@import '../../../scss/settings/colors';
@import '../../../scss/settings/fonts';
@import '../../../scss/settings/otherVariables';


.cityList{
    margin-top: 15px;
    border: $border;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    .elementList{
        .button{
            background: none;
            border: none;
            margin-left: 18px;
        }
    }
}