@import '../../../scss/settings/colors';
@import '../../../scss/settings/fonts';
@import '../../../scss/settings/otherVariables';

.cityRow {
    position: relative;

    .cityList {
        margin-top: 15px;
        border: $border;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        z-index: 10000;
        position: absolute;
        top: 50px;

        .elementList {
            .button {
                font-family: $font-base;
                font-size: 24px;
                font-weight: 300;

                background: none;
                border: none;
                margin-left: 18px;
            }
        }
    }
}