@import '../../../scss/settings/colors';
@import '../../../scss/settings/fonts';
@import '../../../scss/settings/otherVariables';


.formStepOne {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 70px;
    font-family: $font-base;

    .whatDoYouHaveDonate {
        font-weight: 600px;
        font-size: 36px;
        margin-bottom: 40px;
    }

    .inFormBox {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .checkBoxName {
            font-weight: 600px;
            font-size: 36px;
            margin-bottom: 40px;
        }
    }
}