@import '../../../scss/settings/colors';
@import '../../../scss/settings/fonts';
@import '../../../scss/settings/otherVariables';


.formStepOne {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 70px 0 40px 0;


    .inFormBox {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}