@import '../../../scss/settings/colors';
@import '../../../scss/settings/fonts';
@import '../../../scss/settings/otherVariables';

.formHomeAdress{
    width: 392px;
    display: flex;
    flex-direction: column;
}