@import '../../../scss/settings/colors';
@import '../../../scss/settings/fonts';
@import '../../../scss/settings/otherVariables';

.formHomeAdress {
    width: 392px;
    display: flex;
    flex-direction: column;

    .formHomeAdressRow {
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .inputAdress {
            height: 40px;
            width: 256px;
        }
        .labelAdress{
            width: 101px;
            text-align: left;
            font-family: $font-base;
            font-weight: 300px;
            font-size: 24px;
        }
    }

    .formHomeAdressRow:nth-child(4){
        margin-bottom: 0;
    }
}