@import '../../../scss/settings/fonts';
@import '../../../scss/settings/colors';
@import '../../../scss/settings/otherVariables';


.textColumn{
    font-family: $font-alt;
    font-size: 16px;
    font-weight: lighter;
    color: $black-color;
    letter-spacing: -0.32px;
    line-height: 10px;
}