@import '../../../scss/settings/colors';
@import '../../../scss/settings/fonts';
@import '../../../scss/settings/otherVariables';


.rowContactUsLabel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .contactUsTextArea {
        width: 100%;
        
    }


}