@import '../../../scss/settings/fonts';
@import '../../../scss/settings/colors';

.buttonMenuItems {
    .buttonMenu {
        font-family: $font-base;
        font-size: 14px;
        text-decoration: none;
        color: $grey-color;
        padding: 9px 10px;
        margin-left: 20px;
        border: 0.75px solid white;
    }

    .buttonMenu:hover{
        border-color: $strong-yellow-color;
    }
}