@import '../../../scss/settings/colors';
@import '../../../scss/settings/fonts';
@import '../../../scss/settings/otherVariables';

.rowInfo{
    width: calc(100% - 830px);
    background-color: $strong-yellow-color;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 683px 50px 147px;
    .introRow{
        .titleRow{
            font-family: $font-base;
            
        }
    }
}