@import '../../../scss/settings/colors';
@import '../../../scss/settings/fonts';
@import '../../../scss/settings/otherVariables';

.rowForm{
    width: 100%;
    background-color: $strong-yellow-color;
    display: flex;
    flex-direction: column;
    padding: 50px 683px 50px;
    .introRow{

    }
}