@import '../../../scss/settings/colors';
@import '../../../scss/settings/fonts';
@import '../../../scss/settings/otherVariables';

.contactUsForm{
    display: flex;
    flex-direction: column;
    .contactUsFormTitle{
        font-family: $font-base;
    }
}