@import '../../../scss/settings/colors';
@import '../../../scss/settings/fonts';
@import '../../../scss/settings/otherVariables';

.formStepThrNameOrgInputName{
    background: none;
    margin-top: 20px;
    width: 570px;
    height: 40px;
    border: $border;

}