@import '../../../scss/settings/fonts';
@import '../../../scss/settings/colors';
@import '../../../scss/settings/otherVariables';

.aboutUsText {
    background-color: $white-color;
    width: 958px;
    padding: ;

    .aboutUsSignature {
        background-image: url('../../../assets/Signature.png');
        width: 209px;
        height: 149px;
    }
}