@import '../../../scss/settings/fonts';
@import '../../../scss/settings/colors';
@import '../../../scss/settings/otherVariables';

.simpleStepsBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $white-color;
}