@import '../../../scss/settings/colors';
@import '../../../scss/settings/fonts';
@import '../../../scss/settings/otherVariables';

.square {
    width: 190px;
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    .introSquare{
        width: 135px;
        height: 135px;
        rotate: 45deg;
        border: $border;
        position: absolute;
        z-index: 100;
    }
}