@import '../../../scss/settings/fonts';
@import '../../../scss/settings/colors';
@import '../../../scss/settings/otherVariables';
.whoWeHelpList{
    .whoWeHelpListParagraf{
        width: 560px;
        font-family: $font-base;
        color: $black-color;
        font-size: 22px;
        
    }
}