@import '../../../scss/settings/fonts';
@import '../../../scss/settings/colors';
@import '../../../scss/settings/otherVariables';


.whoWeHelpListItem {
    width: 1334px;
    .whoWeHelpListItemContent {
        display: flex;
        flex-direction: row;
    }
}