@import '../../../scss/settings/fonts';
@import '../../../scss/settings/colors';
@import '../../../scss/settings/otherVariables';

.whoWeHelpButton {
    width: 542px;
    background-color: white;
    font-family: $font-base;
    color: $black-color;
    font-size: 24px;
    border: $blind-border;
    padding: 23px 42px;
}

.whoWeHelpButton:nth-child(2) {
    margin-left: 10px;
    margin-right: 10px;
}

.whoWeHelpButton:hover {
    border: $border;
}