@import '../../../scss/settings/fonts';
@import '../../../scss/settings/colors';
@import '../../../scss/settings/otherVariables';

.formReg {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .form {
        display: flex;
        flex-direction: column;
        align-content: space-between;
        justify-content: space-evenly;
        padding: 40px 67.25px;
        background-color: $white-color;

        .contactUsInput {
            background-color: $white-color;
        }

        .divForm {
            .contactUsInput {
                height: 20px;
            }
        }

        .divForm:nth-child(2),
        .divForm:nth-child(3) {
            margin-top: 31px;
        }
    }

    .btnRow {
        width: 504px;
        margin-top: 40px;
        display: flex;
        align-content: space-between;
        justify-content: space-between;
        align-items: center;

        .linkLogin {
            font-style: normal;
            font-family: $font-base;
            font-weight: 300;
            font-size: 18px;
            color: $black-color;
            text-decoration: none;
        }

        .btnLog {
            font-family: $font-base;
            font-size: 18px;
            color: $black-color;
            font-weight: 300;
            padding: 13px 16px;
            background-color: white;
            border: $border;
        }
    }
}