@import '../../../scss/settings/fonts';
@import '../../../scss/settings/colors';

.buttonItem {
    .button {
        font-size: 24px;
        padding: 9px 20px;
        color: $black-color;
        text-decoration: none;
        font-family: $font-base;
    }

    .button:hover{
        border: 0.75px solid $black-color;
    }
}