@import '../../molecules/whoWeHelpButtons/whoWeHelpButtons';
@import '../../../scss/settings/fonts';
@import '../../../scss/settings/colors';

.whoWeHelp{
    margin-top: 70px;

    .whoWeHelpTitle{
        font-size: 38px;
        font-family: $font-base;
        letter-spacing: -0.76px;
        color: $black-color;
    }
}

